* {
  margin: 0;
  padding: 0;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 15vh;
  background-color: lightsalmon;
  align-items: center;
}

.auth-buttons {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.auth-buttons input {
  height: 24px;
  margin: 0 10px;
}

.auth-buttons button {
  margin: 0 5px;
  padding: 0 3px;
  border-radius: 10%;
}

.header h1 {
  margin-left: 10px;
}